@{
    ViewData["Title"] = "Index Receta";
}
@model IEnumerable<slnBurdiakTrinidad.Models.Receta>

@Html.ActionLink("Nueva Receta", "Index", "Opera")
<table>
    <tr>
        <th>@Html.DisplayNameFor(model=>model.Nombre)</th>
        <th>@Html.DisplayNameFor(model=>model.Categoria)</th>
        <th>@Html.DisplayNameFor(model=>model.Ingredientes)</th>
        <th>@Html.DisplayNameFor(model=>model.Instrucciones)</th>
        <th>@Html.DisplayNameFor(model=>model.NombreAutor)</th>
        <th>@Html.DisplayNameFor(model=>model.ApellidoAutor)</th>
        <th>@Html.DisplayNameFor(model=>model.EdadAutor)</th>
        <th>@Html.DisplayNameFor(model=>model.EmailAutor)</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@Html.ActionLink(Convert.ToString(item.Nombre), "Details", "Receta", new{id=item.Id})</td>
            <td>@Html.DisplayFor(modelItem =>item.Categoria)</td>
            <td>@Html.DisplayFor(modelItem =>item.Ingredientes)</td>
            <td>@Html.DisplayFor(modelItem =>item.Instrucciones)</td>
            <td>@Html.DisplayFor(modelItem =>item.NombreAutor)</td>
            <td>@Html.DisplayFor(modelItem =>item.ApellidoAutor)</td>
            <td>@Html.DisplayFor(modelItem =>item.EdadAutor)</td>
            <td>@Html.DisplayFor(modelItem =>item.EmailAutor)</td>
        </tr>
    }
</table>

     @section SideBar{


    <p>AUTORES POR NOMBRE</p>
    @foreach (var autores in Model)
    {
        <ul>
            <li>@Html.ActionLink(Convert.ToString(autores.NombreAutor), "GetByNombreAutor", "Receta", new{nombre = autores.NombreAutor})</li>
        </ul>
    }
    <p>AUTORES POR APELLIDO</p>
    @foreach (var autores in Model)
    {
        <ul>
            <li>@Html.ActionLink(Convert.ToString(autores.ApellidoAutor), "GetByApellidoAutor", "Receta", new{apellido=autores.ApellidoAutor})</li>
        </ul>
    }

     }